@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}
@theme {
  --color-primary:#2e7d32;
  --color-primary-dull: #a5d6a7;
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}